// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.show-image:hover img{

}
.delete_movie_link {
  opacity: 0;
  transition: opacity .5s;
}
div.show-image:hover .delete_movie_link {
  opacity: 1;
}

div.show-image button {
  position: absolute;
    display: none;
}

div.show-image display-me.delete
{
  top:20;
  left:69%;
}

.show-image {
  text-align: center;
}

.show-image:hover > .display-me {
  display : block;
}

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
